<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/page-2-3.css">
</head>
<body>
    <header>
        <div class="botones">
            <button class="boton-1">
                <a href="##"> <img src="../src/storage/img/js.png" alt=""></a></button>
            <button class="boton-2"><a href="###"> <img src="../src/storage/img/Vector.png" alt=""></a></button>
        </div>
    </header>
    <main>
        <div class="imagen">
        <img src="../src/storage/img/1-removebg-preview (1) (1).png" alt="">
        </div>
        <div class="titulo">
                <div class="titulo-2">
                <h1>Urban Elegance at Night</h1>
                <div class="parrafo">
                <img src="../src/storage/img/Default Icon (3).png" alt="estrella">
                <p>4.5 </p>
                <p class="reviews">(9.000 reviews)</p>
            </div>
        </div>
        <div class="final">
            <button>-</button>
            <input type="">
            <button>+</button>
        </div>            
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-description">
                <p>This ensemble captures the essence of streetwear with a touch of sophistication. Designed for the modern woman seeking versatility and style, this outfit combines key pieces to create a striking look.</p>
                <details>
                    <summary class="Read">Read More..</summary>
                    <p>The centerpiece is a long, flowing black coat, which adds drama and elegance.</p>
                </details>
            </div>
            <div class="todo">
                <div class="medio">
                    <div class="footer-size">
                        <h2>Choose Size</h2>
                        <div class="size-buttons">
                            <button>S</button>
                            <button>M</button>
                            <button>L</button>
                            <button>XL</button>
                        </div>
                    </div>
                </div>
                <div class="final-2">
                    <div class="footer-color">
                        <h2>Color</h2>
                        <div class="color-buttons">
                            <button class="color-button color-1"></button>
                            <button class="color-button color-2"></button>
                            <button class="color-button color-3"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-to-cart-container">
                <a href="ruta/a/tu/otra-pagina.html" class="add-to-cart-button">
                  <img src="../src/storage/img/Main Icon (2).png" alt="Descripción de la imagen" class="cart-image">
                  Add to Cart | $162.99 <span class="old-price">$190.99</span>
                </a>
              </div>
        </div>
    </footer>
</body>
</html>