<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/page-2.css">
</head>
<body>
    <header>
        <div class="botones">
            <button class="boton-1">
                <a href="##"> <img src="../src/storage/img/js.png" alt=""></a></button>
            <button class="boton-2"><a href="###"> <img src="../src/storage/img/Vector.png" alt=""></a></button>
        </div>
    </header>
    <main>
        <div class="imagen">
        <img src="../src/storage/img/chica-removebg-preview.png" alt="">
        </div>
        <div class="titulo">
            <div class="titulo-2">
                <h1>Vestido Corset</h1>
                <div class="parrafo">
                <img src="../src/storage/img/Default Icon (3).png" alt="estrella">
                <p>5.0 </p>
                <p class="reviews">(7.932 reviews)</p>
            </div>
        </div>
        <div class="final">
            <button>-</button>
            <input type="">
            <button>+</button>
        </div>            
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-description">
                <p>Its simple and elegant shape makes it perfect for those of you who want minimalist clothes.</p>
                <details>
                    <summary>Read More..</summary>
                    <p>Additional information about the product or brand can go here.</p>
                </details>
            </div>
            <div>
            <div class="footer-size">
                <h2>Choose Size</h2>
                <div class="size-buttons">
                    <button>S</button>
                    <button>M</button>
                    <button>L</button>
                    <button>XL</button>
                </div>
            </div>
            <div class="footer-color">
                <h2>Color</h2>
                <div class="color-buttons">
                    <button class="color-button color-1">.</button>
                    <button class="color-button color-2">.</button>
                    <button class="color-button color-3">.</button>
                </div>
            </div>   
            </div>
        </div>
    </footer>
    
</body>
</html>