<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/page-2.css">
</head>
<body>
    <header>
        <div class="botones">
            <button class="boton-1">
                <a href="##"> <img src="../storage/img/js.png" alt=""></a></button>
            <button class="boton-2"><a href="###"> <img src="../storage/img/Vector.png" alt=""></a></button>
        </div>
        
    </header>
</body>
</html>