<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/page-2.css">
</head>
<body>
    <header>
        <div class="botones">
            <button class="boton-1">
                <a href="##"> <img src="../storage/img/js.png" alt=""></a></button>
            <button class="boton-2"><a href="###"> <img src="../storage/img/Vector.png" alt=""></a></button>
        </div>
    </header>
    <main>
        <div class="imagen">
        <img src="../storage/img/chica-removebg-preview.png" alt="">
        </div>
        <div class="titulo">
            <div class="titulo-2">
                <h1>Vestido Corset</h1>
                <div class="parrafo">
                <img src="../storage/img/Default Icon (3).png" alt="estrella">
                <p>5.0 </p>
                <p>(7.932 reviews)</p>
            </div>
        </div>
        <div class="final">
            <button>-</button>
            <input type="">
            <button>+</button>
        </div>
            
    </main>
    
</body>
</html>