<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/pagina-1-2.css">
</head>
<body>
    <header>
        <div class="header_titulo">
            <p>Hello, Welcome 👋</p>
            <h1>Mikasa Ackerman</h1>
        </div>
        <img src="../src/storage/img/chica.jpg">
    </header>
    <nav class="nav__busqueda">
        <form class="form__busqueda" action="?" method="get">
            <div class="input__logo">
                <input type="text" name="search clothes..." placeholder="search clothes...">
            </div>
            <div class="input__filtro">
                <input type="submit" value="">
            </div>
        </form>
        <ul class="nav__categoria">
            <li class="select">
                <img src="../src/storage/img/Default Icon.png" alt="All Items Icon">
                <a href="#">All Items</a>
            </li>
            <li>
                <img src="../src/storage/img/Default Icon (1).png" alt="All Items Icon">
                <a href="#">All Items</a>
            </li>
            <li>
                <img src="../src/storage/img/Default Icon (2).png" alt="All Items Icon">
                <a href="#">All Items</a>
            </li>
            <li>
                <img src="../src/storage/img/Default Icon (3).png" alt="All Items Icon">
                <a href="#">All Items</a>
            </li>
        </ul>
    </nav>
</nav>
<main>
    <section class="section__productos">
        <article class="article__contenedora">
            <a href="product1.html"><img src="../src/storage/img/ropas-removebg-preview.png"></a>
            <div class="div__informacion">
                <strong>Modern Light clothes</strong>
                <p>T-Shirt</p>
            </div>
            <div class="div__comentarios">
                <div class="div__valoracion">
                    <p>212.99</p>
                </div>