<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/pagina-1.css">
</head>
<body>
    <header>
        <div class="header_titulo">
            <p>Hello, Welcome 👋</p>
            <h1>Albert Stevano</h1>
        </div>
        <img src="../src/storage/img/chica.jpg">
    </header>
    <nav class="nav__busqueda">
        <form class="form__busqueda" action="?" method="get">
            <div class="input__logo">
                <input type="text" name="search clothes..." placeholder="search clothes...">
            </div>
            <div class="input__filtro">
                <input type="submit" value="">
            </div>
        </form>
        <ul class="nav__categoria">
            <li class="select"><a href="../src/storage/img/Default Icon.png">All Items</a></li>
            <li><a href="../src/storage/img/Default Icon (1).png">All Items</a></li>
            <li><a href="../src/storage/img/Default Icon (2).png">All Items</a></li>
            <li><a href="../src/storage/img/Default Icon (3).png">All Items</a></li>
        </ul>
    </nav>


    </nav>
    
</body>
</html>