@import url(variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 24px;


}
.botones{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: none;
    z-index: 1;

}
.boton-1{
    background-color: pink;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
}
.boton-1 img {
    margin-right: 2px;
}
.boton-2{
    background-color: pink;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    align-items: center;
    justify-content: center;
}
.boton-2 img
    {
      margin-top: 5px;
    }
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
.imagen img {
    display: flex;
    height: 310px; 
    align-items: center;
    margin-top: -60px;
}

.titulo {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px 10px;
}

.titulo-2 {
    /* background-color: aqua; */
    display: flex; 
    width: 80%;
    flex-direction: column;
    font-family: "SemiBold";
    font-size: 14px;
    margin-top: 30px;

}

.parrafo {
    display: flex;
    align-items: center;
    font-family: "Regular";
    font-size: 12px;
}

.parrafo img {
    margin-right: 5px;
}

.parrafo p {
    margin-right: 10px;
}

.final {
    width: 30%;
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.reviews{
    color: var(--color-7);
}
.final button {
    margin: 0 5px;
    border-radius: 50%; 
    width: 32px;
    height: 32px;
    background-color: white;
    border: 1px solid gray;
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.final button:hover {
    background-color: #f0f0f0; 
}

.final input {
    width: 20px;
    text-align: center;
    margin: 0 5px;
    border: none; /* Elimina el borde */
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: red;
}
.footer-description{
    background-color: aqua;
    padding: 20px;
}
