@import url(variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 24px;


}
.botones{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: none;
    z-index: 1;

}
.boton-1{
    background-color: pink;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
}
.boton-1 img {
    margin-right: 2px;
}
.boton-2{
    background-color: pink;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    align-items: center;
    justify-content: center;
}
.boton-2 img
    {
      margin-top: 5px;
    }
main {
    display: flex;
    justify-content: center;
    }
    
.imagen img {
    display: flex;
    height: 340px; 
    align-items: center;
    margin-top: -60px;
    }