@import url(variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-4);
}

/**************** header ******************/
header {
    /* background-color: red; */
    padding: 28px 19px 0px;
    display: flex;
    justify-content: space-between;
}

.header__titulo {
    /* background-color: olivedrab; */
    display: flex;
    flex-direction: column;
}

.header__titulo h1 {
     background-color: violet; 
    font-family: "Lobster-Regular";
    font-size: 45px;
    font-weight: normal;
    color: pink;

}

.header__titulo h3 {
    /* background-color: blueviolet; */
    font-family: "Poppins-Medium";
    font-size: 18px;
    font-weight: normal;
    color: pink;
}

header img {
    /* background-color: green; */
    width: 32px;
    height: 32px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 50px;
}

/******************************************/
/**************** nav ******************/
.nav__busqueda {
}

.form__busqueda {
    padding: 20px 19px 30px 19px;
    overflow: hidden;
    display: flex;
    gap: 13px;
    justify-content: space-between;
}

.input__logo {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input__logo::before {
    content: url(../storage/img/search-normal.png);
    position: absolute;
    padding-left: 10px;
}

.form__busqueda input[type="text"] {
    box-sizing: content-box;
    flex: 1;
    height: 100%;
    font-family: "Roboto-Medium";
    font-size: 18px;
    color: pink;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 0px 0px 0 40px;
    box-shadow: 0px 4px 19px var(--color-shadow-1);
}

.form__busqueda input[type="text"]::placeholder {
    color: var(--color-5);
}

.input__filtro {

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

}

.input__filtro::after {
    content: url(../storage/img/01.png);
    width: 24px;
    height: 24px;
    object-fit: cover;
    position: absolute;
    border-radius: 80px;
}

.form__busqueda input[type="submit"] {
    flex: 1;
    width: 60px;
    height: 60px;
    border: pink;
    outline: none;
    border-radius: 8px;
    background: pink;
}

.nav__categoria {
    margin: 0px 0px 0px 0px;
    scroll-snap-type: x mandatory;
}

.nav__categoria li {
    scroll-snap-align: start;
}

.nav__categoria {
    margin: 0 19px;
    display: flex;
    overflow-x: scroll;
    gap: 14px;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.nav__categoria li {
    flex-shrink: 0;
    list-style: none;
    border-radius: 8px;
    min-width: 120px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    border: 1px solid pink; 
}
 
.nav__categoria li:nth-child(2) {
    background: pink; 
}

.nav__categoria li a {
    text-decoration: none;
    font-family: "Inter_18pt-Medium";
    font-size: 16px;
    color: black;
}

li.select a {
    color: var(--color-9);
}

li:active {
    background: var(--color-3);
}

li:active a {
    color: var(--color-9);
}

.nav__categoria::-webkit-scrollbar {
    height: 8px;
}

.nav__categoria::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.nav__categoria::-webkit-scrollbar-track {
    background: #f1f1f1;
}
main{
    padding: 41px 19px 0px;
}
.section__productos {
    /* background: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.article__contenedora {
    background: var(--color-4);
    width: 47%;
    margin-bottom: 5%;
    height: 225px;
    display: flex;
    gap: 9px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 6px 17px var(--color-shadow-2);
    position: relative;
}
.article__contenedora::after{
    content: " ";
    width: 90px;
    height: 5px;
    backdrop-filter: invert(10px);
    background: var(--color-shadow-1);
    border-radius: 100%;
    position: absolute;
    z-index: 5;
    inset: 0;
    margin: auto;
}
.article__contenedora a{
    height: 130px;
    padding: 0px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}
.article__contenedora a img{
    /* background: red; */
    width: 90%;
    object-fit: contain;
}

.div__informacion {
     /* background: violet;  */
    display: flex;
    flex-direction: column;
    padding: 0 11px;

}
.div__informacion strong{
    /* background-color: red; */
    font-family: "inter";
    color: var(--color-5);
    overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
.div__informacion p{
   font-family: "Roboto-Regular";
   color: var(--color-5);
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
.div__comentarios {
    /* background: bisque; */
    padding: 0 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "inter";
}
.div__valoracion {
    /* background: green; */
    display: flex;
    gap: 3px;
}
.div__valoracion > img{
    /* background: blue; */
    width: 16px;
    height: 16px;
    object-fit: cover;
}
.div__valoracion label{
    font-family: "inter";
    color: var(--color-5);
}
.div__comentarios > img{
    /* background-color: black; */
    width: 20px;
    height: 20px;
    object-fit: cover;
}
/**************** footer ******************/
footer{
    background: pink;
    background-size: cover;
    width: 100%;
    height: 62px;
    padding: 17px 50px 17px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: -1px;
    z-index: 10;
    border-radius: 50px;
    margin-top: 100%;
}
footer:hover::after{
     /* background: black;  */
}
.div__izquierdo {
     /* background: blue;  */
    display: flex;
    gap:50px;
}
.div__izquierdo a{

}
.div__izquierdo a img{
    width: 24px;
    height: 24px;
    object-fit: contain;

}
.div__derecho {
    /* background: green; */
    display: flex;
    gap:50px;
}
.div__derecho a{
    /* background-color: bisque; */

}
.div__derecho a img{
    width: 24px;
    height: 24px;
    object-fit: contain;

}

/******************************************/
.rooto{
    margin-right: 80px;
}