
:root{
    --color-1: #292526;
    --color-2: #787676;
    --color-3: #A3A1A2;
    --color-4: #F2F2F2;
    --color-5: #121111;
    --color-6: #292526;
    --color-7: #347EFB;
    --color-8: #878787;

}
@font-face {
    font-family: "SemiBold";
    src: url(../storage/font/Encode_Sans/static/EncodeSans-SemiBold.ttf);
}
@font-face {
    font-family: "Regular";
    src: url(../storage/font/Encode_Sans/static/EncodeSans-Regular.ttf);
}
@font-face {
    font-family: "bold";
    src: url(../storage/font/Encode_Sans/static/Bold);
}
@font-face {
    font-family: "EncodeSans-Light";
    src: url(../storage/font/Encode_Sans/static/EncodeSans-Light.ttf);
}
@font-face {
    font-family: "inter";
    src: url(../storage/font/Inter/static/Inter_18pt-Bold.ttf);
}