
:root{
    --color-1: #292526;
    --color-2: #787676;
    --color-3: #A3A1A2;
    --color-4: #F2F2F2;
    --color-5: #121111;
    --color-6: #292526;
    --color-7: #347EFB;
    --color-8: #878787;

}